<header>
  <h1>
      Refrigerator Alarm System
  </h1>
</header>

<div class="container mt-5">
  <div class="text-center">
      <h2>อุปกรณ์ IoT</h2>
      <label>การแจ้งเตือนความผิดปกติของตู้เย็น</label>
  </div>
  <div class="row mt-5">
      <div class="col ">
          <img src="assets/images/ESP-32.jpg" width="300px" height="300px">
      </div>
      <div class="col-7">
          ESP32 เป็นไมโครคอนโทรลเลอร์ที่มีความสามารถสูงและได้รับความนิยมในการพัฒนาอุปกรณ์ IoT (Internet of Things)
          โดยมีคุณสมบัติหลักดังนี้:

          ซีพียู: ใช้สถาปัตยกรรม Tensilica LX6 แบบ 2 คอร์ ความเร็วสัญญาณนาฬิกา 240MHz
          หน่วยความจำ: มีแรมในตัว 512KB และรองรับการเชื่อมต่อรอมภายนอกสูงสุด 16MB
          การเชื่อมต่อ: รองรับ WiFi มาตรฐาน 802.11 b/g/n และ Bluetooth 4.2 BLE
          แรงดันไฟฟ้า: ใช้แรงดันไฟฟ้าในการทำงาน 2.6V ถึง 3V
          อุณหภูมิการทำงาน: ทำงานได้ที่อุณหภูมิ -40°C ถึง 125°C
          GPIO: มีขา GPIO จำนวน 34 ขา แต่ไม่ใช่ว่าทุกขาจะใช้งานได้ทุกฟังก์ชั่น2.
          ฟังก์ชั่นเพิ่มเติม: มีเซ็นเซอร์แม่เหล็ก, เซ็นเซอร์สัมผัส (Capacitive touch),
          และวงจรกรองสัญญาณรบกวนในวงจรขยายสัญญาณ1
          ESP32
          เหมาะสำหรับการพัฒนาอุปกรณ์ที่ต้องการการเชื่อมต่อไร้สายและการประมวลผลที่มีประสิทธิภาพสูงในราคาที่ไม่แพง
      </div>
  </div>

</div>

<div class="container mt-5">
  <div class="text-center">
      <h2>อุปกรณ์ IoT</h2>
      <label>การแจ้งเตือนความผิดปกติของตู้เย็น</label>
  </div>
  <div class="row mt-5">
      <div class="col ">
          <img src="assets/images/cm.jpeg" width="300px" height="300px">
      </div>
      <div class="col-7">
        โมดูลกล้อง หรือ Camera Module คือส่วนประกอบสำคัญที่ทำหน้าที่จับภาพและแปลงสัญญาณแสงให้เป็นข้อมูลดิจิทัล ซึ่งเราจะพบเห็นได้ในอุปกรณ์อิเล็กทรอนิกส์หลากหลายชนิด ไม่ว่าจะเป็นสมาร์ทโฟน แท็บเล็ต กล้องดิจิทัล โดรน รถยนต์ หรือแม้แต่เครื่องใช้ไฟฟ้าภายในบ้าน

         โดยทั่วไป โมดูลกล้องประกอบด้วยส่วนประกอบหลักดังนี้:
         เลนส์ (Lens): ทำหน้าที่รวมแสงและโฟกัสภาพให้ตกกระทบเซ็นเซอร์
         เซ็นเซอร์ (Sensor): เปลี่ยนสัญญาณแสงให้เป็นสัญญาณไฟฟ้าดิจิทัล
         ชิปประมวลผลสัญญาณภาพ (Image Signal Processor, ISP): ประมวลผลข้อมูลภาพ เช่น การปรับความสว่าง ความคมชัด การลดสัญญาณรบกวน
         วงจรไฟฟ้า: ควบคุมการทำงานของส่วนประกอบต่างๆ
         หลักการทำงานของโมดูลกล้อง
         1. การรับแสง: เมื่อแสงตกกระทบเลนส์ เลนส์จะทำหน้าที่รวมแสงและโฟกัสภาพให้ตกกระทบเซ็นเซอร์
         2. การแปลงสัญญาณ: เซ็นเซอร์จะรับแสงที่ตกกระทบแล้วแปลงเป็นสัญญาณไฟฟ้าดิจิทัล
         3. การประมวลผล: ชิป ISP จะทำการประมวลผลข้อมูลภาพที่ได้จากเซ็นเซอร์ เพื่อปรับปรุงคุณภาพของภาพ
         4. การส่งออกข้อมูล: ข้อมูลภาพที่ผ่านการประมวลผลแล้วจะถูกส่งไปยังหน่วยประมวลผลกลาง (CPU) เพื่อนำไปแสดงผลหรือบันทึก
     </div>
  </div>

</div>

<div class="container mt-5">
  <div class="text-center">
      <h2>อุปกรณ์ IoT</h2>
      <label>การแจ้งเตือนความผิดปกติของตู้เย็น</label>
  </div>
  <div class="row mt-5">
      <div class="col ">
          <img src="assets/images/fb.jpg" width="300px" height="300px">
      </div>
      <div class="col-7">
        สายไฟ Jumper หรือ Jump Wire คือสายไฟชนิดหนึ่งที่มีขั้วต่ออยู่ทั้งสองด้าน ใช้สำหรับเชื่อมต่อระหว่างส่วนประกอบต่างๆ ในวงจรอิเล็กทรอนิกส์ เช่น Arduino, Raspberry Pi, หรือแผงวงจรทั่วไป ทำให้สะดวกในการประกอบและทดลองวงจร โดยไม่ต้องบัดกรีสายไฟ

        ลักษณะของสายไฟ Jumper:
        ความยืดหยุ่น: สามารถงอและดัดโค้งได้ง่าย ทำให้ใช้งานได้สะดวก
        เชื่อมต่อง่าย: เพียงแค่เสียบขั้วต่อเข้ากับจุดที่ต้องการเชื่อมต่อ
        ถอดออกง่าย: สามารถถอดออกเพื่อปรับเปลี่ยนวงจรได้อย่างรวดเร็ว
        มีหลายขนาดและสี: เลือกใช้ให้เหมาะสมกับความต้องการ
        ประเภทของสายไฟ Jumper
        ตามขั้วต่อ:
        ตัวผู้ (Male): มีขาโลหะสำหรับเสียบเข้ากับรู
        ตัวเมีย (Female): มีรูสำหรับรับขาโลหะ
        ตามความยาว: มีหลายขนาดให้เลือกตั้งแต่ขนาดสั้นสำหรับงานภายในบอร์ดไปจนถึงขนาดยาวสำหรับเชื่อมต่อระหว่างบอร์ด
        ตามจำนวนสาย: มีทั้งแบบสายเดี่ยวและแบบสายคู่
      </div>
  </div>

</div>
